---
 const personalImageAlt = "Pablo Saavedra"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mt-6 [&>p]:text-xl text-gray-800 dark:[&>p>strong]:text-yellow-500 [&>p>strong]:text-yellow-500 [&>p>strong]:font-semibold dark:text-gray-300"
  >
    <p>
      My name is Pablo Saavedra, and I am a Master's student in Astronomy at the University of Chile, with a strong focus on <strong>time-domain astronomy</strong>.
    </p>

    <p>
      I have a strong interest in time-domain astronomy. My current work focuses on studying how <strong>AGN</strong> vary over time, and I have had the opportunity to share my Master's research at both national and international conferences. Even though it is not what I am working on right now, I am also very interested in the <strong>formation of Supermassive Black Holes (SMBHs) and IMBH demography</strong>.
    </p>

    <p>
      Beyond my research, I am passionate about sharing science. I have been a teaching assistant during my undergraduate and Master's studies, and I also do outreach, such as giving guided tours for schools at the Cerro Calán Observatory. My next goal is to pursue a PhD. For this new stage, I plan to add spectroscopy to complement my current work in photometry, which will give me a much better understanding of AGN structure.
    </p>
  </div>

  <img width="200" height="200" src="/pablet2.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>